<div id="<%= dom_id plumber %>">
  <p>
    <strong>Name:</strong>
    <%= plumber.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= plumber.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= plumber.address %>
  </p>
</div>
