<h1>New plumber</h1>

<%= render "form", plumber: @plumber %>

<br>

<div>
  <%= link_to "Back to plumbers", admin_plumbers_path %>
  <%= link_to "Back to dashboard", admin_dashboard_index_path %>
</div>
